.theme{
  font-size:50px;
  font-family:songti tc;
  position:absolute;
  top:50px;
  left:550px;
}
.sweater{
  height:400px;
  position:absolute;
  top:150px;
  left:450px;
}
.Sweater{
  font-size:40px;
  font-family:songti tc;
  position:absolute;
  top:580px;
  left:550px;
}