/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";


html{
  background-color:white;
}

body#index {
	margin-left:400px;
	span{
	  margin-left:400px;
	}
	.note4{
	  font-size: 26px;
	  position:absolute;
	  top:450px;
	  left:300px;
	  z-index:1;
	}
	.note3{
	  font-size: 26px;
	  position:absolute;
	  top:450px;
	  left:50px;
	  z-index:1;
	}
	.note2{
	  font-size: 26px;
	  position:absolute;
	  top:100px;
	  left:300px;
	  z-index:1;
	}
	.note {
	  font-size: 26px;
	  position:absolute;
	  top:100px;
	  left:50px;
	  z-index:1;
	  
	}
	.front {
	  position:relative;
	  z-index:1;
	}
	.circle{
	  width:150px;
	  height:150px;
	  border-radius:150px;
	  margin-top:-400px;
	  margin-left:150px;
	  background-color:black;
	}
	.style{
	  width:200px;
	  height:300px;
	  opacity:0.6;
	 
	}
	.one{
	  width:200px;
	  height:300px;
	  border:3px solid;
	  
	}
	.two{
	  width:200px;
	  height:300px;
	  border:3px solid;
	  margin-left:250px;
	  margin-top:-305px;

	}
	.three{
	  width:200px;
	  height:300px;
	  border:3px solid;
	  margin-top:40px;
	}
	.four{
	  width:200px;
	  height:300px;
	  border:3px solid;
	  margin-left:250px;
	  margin-top:-305px;
	}
	.choose{
	  color:white;
	  font-size: 10px;
	  position:absolute;
	  top:335px;
	  left:183px;
	  z-index:1;
	}
	.midph{
	  width:400px;
	  margin-top:40px;
	  margin-left:400px;
	  position:absolute;
	  
	}
	.Catagory{
	  font-size:40px;
	  position:absolute;
	  top:40px;
	  left:100px;
	}
	.choose{
	  width:5000px;
	  height:150px;
	  background-color:black;
	  position:absolute;
	  top:700px;
	}
}
#topic {
	.theme {
	  font-size:50px;
	  font-family:SimSun;
	  position:absolute;
	  top:50px;
	  left:550px;
	}
	.sweater{
	  height:400px;
	  position:absolute;
	  top:150px;
	  left:450px;
	}
	.Sweater{
	  font-size:40px;
	  font-family:SimSun;
	  position:absolute;
	  top:580px;
	  left:550px;
	}
}

#Weather {
	li {
	  margin-top:15px;
	  border:1px solid;
	}
}

#detail {
	.midph {
	  width:400px;
	  margin-top:40px;
	  margin-left:400px;
	  position:absolute;
	  
	}
	.Catagory{
	  font-size:40px;
	  position:absolute;
	  top:40px;
	  left:100px;
	}
	.choose{
	  width:5000px;
	  height:150px;
	  background-color:black;
	  position:absolute;
	  top:700px;
	}
}